%h1 Videos
= form_tag videos_path, class: "form-inline", method: :get do
  .input-group.input-group-lg
    - if params[:query].present?
      .input-group-btn
        = link_to "clear", videos_path, class: "btn btn-default"
    = text_field_tag :query, params[:query], class: "form-control", id: "video_search", autocomplete: "off"
    .input-group-btn
      = submit_tag "Search", class: "btn btn-primary"

%ul
  -@videos.each do |video|
    %li= link_to video.title, video