%h1= @video.title
%p= @video.url

= link_to "edit", edit_video_path(@video)
= link_to "delete", video_path(@video), method: :delete, data: {confirm: "Are you sure you want to delete this video?"}
= link_to 'home', root_path